/* See https://atexmedia.atlassian.net/wiki/external/YjZkNWMzZjRlZmQ0NDNkM2I5NzIzZTk2Y2IxMmM0OWM */

.whole-menu .topmenu .topmenu-inner .topmenu-links ul li {
  border: none;
  border-radius: none;
}

.whole-menu .topmenu .topmenu-inner .topmenu-links ul li:first-child a {
  border: 2px solid var(--brand-primary-color);
  border-radius: 15px;
}

.whole-menu .topmenu .topmenu-inner .topmenu-links ul li:nth-child(2) a {
  background-color: var(--brand-primary-color);
  color: #fff;
  border: 2px solid var(--brand-primary-color);
  border-radius: 15px;
}

@media (min-width: 1024px) {
  header:after {
    top: 59px;
  }
}

.giubileo_container {
  width: 100%;
}

.giubileo_link {
  display: block;
  width: 100%;
  height: 100%;
}

/* Aggiungi una classe per gestire la larghezza dell'immagine */
.giubileo_image {
  width: 100%;
  height: auto;
}

/* Media Query per l'immagine mobile */
@media (max-width: 525px) {
  .giubileo_image {
    content: url("https://images.benessere-magazine.it/news-kit-resources/giubileo-banner-famiglia-cristina-mobile.jpg");
  }
}

.autopromo_container {
  width: 100%;
  margin: 0 auto;
}

.autopromo_link {
  display: block;
  width: 100%;
  height: 100%;
}

/* Aggiungi una classe per gestire la larghezza dell'immagine */
.autopromo_image {
  width: 100%;
  height: auto;
}

/* Media Query per l'immagine mobile */
@media (max-width: 525px) {
  .autopromo_image {
    content: url("https://images.benessere-magazine.it/news-kit-resources/giubileo-banner-famiglia-cristina-mobile.jpg");
  }
}

/* SLOT FC AUTOPROMO */

.FC_autopromo_container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 10px;
}

.FC_autopromo_link {
  display: block;
  width: 100%;
  height: 100%;
}

/* Aggiungi una classe per gestire la larghezza dell'immagine */
.FC_autopromo_image {
  width: 100%;
  height: auto;
}

/* SLOT FC AUTOPROMO #FC_autopromo_1 */

#FC_autopromo_1 {
  margin: 0 auto;
}

/* Media Query per l'immagine mobile */
@media (max-width: 525px) {
  #FC_autopromo_1 .FC_autopromo_image {
    content: url("https://images.benessere-magazine.it/news-kit-resources/giubileo-banner-famiglia-cristina-mobile.jpg");
  }
}

/* SLOT FC AUTOPROMO #FC_autopromo_2 */

#FC_autopromo_2 {
  margin: 0 auto;
}

/* Media Query per l'immagine mobile */
@media (max-width: 525px) {
  #FC_autopromo_2 .FC_autopromo_image {
    content: url("https://images.benessere-magazine.it/news-kit-resources/giubileo-banner-famiglia-cristina-mobile.jpg");
  }
}

/* SLOT FC AUTOPROMO #FC_autopromo_3 */

#FC_autopromo_3 {
  margin: 0 auto;
}

/* Media Query per l'immagine mobile */
@media (max-width: 525px) {
  #FC_autopromo_3 .FC_autopromo_image {
    content: url("https://images.benessere-magazine.it/news-kit-resources/giubileo-banner-famiglia-cristina-mobile.jpg");
  }
}
